<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar  class="bar-dark">
      <ion-nav-back-button hide-back-button="true" class="button-clear"></ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon text_white"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left" style="top:0 !important;left:0 !important;bottom:0 !important;"></ion-nav-buttons>
      <ion-nav-title></ion-nav-title>
    </ion-nav-bar>
    <ion-nav-view name="nav"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right">
   <ion-header-bar class="bar-stable bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content style="background:grey">
         <a ui-sref="nav.home" class="item item-icon-left no_background text_white" href=";" nav-clear menu-close>
          <i class="icon ion-home"></i>
         Home
        </a>
        <a ui-sref="nav.products" class="item item-icon-left no_background text_white" href=";" nav-clear menu-close>
          <i class="icon ion-clipboard"></i>
         Products
        </a>
        <a ui-sref="nav.purchase" class="item item-icon-left no_background text_white" href=";" nav-clear menu-close>
          <i class="icon ion-bag"></i>
         Purchase
        </a>
        <a ui-sref="nav.sales" class="item item-icon-left no_background text_white" href=";" nav-clear menu-close>
          <i class="icon ion-ios-cart"></i>
         Sales
        </a>
        <a ui-sref="nav.profit" class="item item-icon-left no_background text_white" href=";" nav-clear menu-close>
          <i class="icon ion-ios-paper"></i>
         Profit
        </a>
        <a ui-sref="nav.bank" class="item item-icon-left no_background text_white" href=";" nav-clear menu-close>
          <i class="icon ion-social-usd"></i>
         Bank  Details
        </a>
        <a ng-click="doLogoutAction()" class="item item-icon-left no_background text_white" href="javascript:void(0);" nav-clear menu-close>
          <i class="icon ion-log-out"></i>
          Logout
        </a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

